@font-face {
  font-family: "Michroma";
  src: url("./assets/fonts/michroma/michroma-v19-latin-regular.woff2")
    format("woff2");
}
@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/montserrat/montserrat-v26-latin-regular.woff2")
    format("woff2");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* 
a {
  font-weight: 500;
  text-decoration: none;
} */

/* body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
} */
